.closeIconContainer--heder__mobile--menu{
    display: flex;
    justify-content: end;
}

.drawer--heder__mobile--menu{
    width: 100%;
}

.childrenContainer--heder__mobile--menu{
    padding: 16px 16px 22px;
}