.buttonLink--minicart__image--button{
    background-color: black;
    color: white;
    font-family: "helvetica";
    border-radius: 25px;
    border-color: black;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 16px;
}

.buttonLink--minicart__footer__button{
    background-color: #53565A;
    color: white;
    font-size: 14px;
    font-family: "helvetica";
    border: #53565A;
    border-radius: 50px;
    font-weight: bold;
    width: 65vw !important;
}

@media screen and (min-width: 1200px) {

    .buttonLink--minicart__footer__button{
        background-color: #53565A;
        color: white;
        font-size: 14px;
        font-family: "helvetica";
        border: #53565A;
        border-radius: 50px;
        font-weight: bold;
        width: 20rem !important;
    }
}