.heartIcon{
    padding: 6px;
    border: 1px solid f7f4f4;
    border-radius: 100px;
    background: #f7f4f4;
}

.deleteIcon{
    padding: 6px;
    border: 1px solid f7f4f4;
    border-radius: 100px;
    background: #f7f4f4;
}