.container--minicart__header--text{
    position: relative;
    left: 75px;
    font-family: "helvetica";
    color: black;
    font-weight: bold;
    font-size: 12px;
}

.container--minicart__empty--text1{
    margin-bottom: 8px;
    font-family: "helvetica";
    font-weight: bold;
    font-size: 16px;
    color: black;


}

.container--minicart__empty--text2{
    margin-bottom: 16px;
    font-family: "helvetica";
    font-size: 12px;
    font-weight: 400;
    color: #6E6E6E;
    

}

.wrapper--minicart__qtitySelector--text{
    color: black;
    font-weight: bold;
}