.buttonLink--home__image1-downloadapp{
    
    background-color: white;
    color: black;
    border-color: white;
    border-radius: 60px;
    font-weight: bold;
}

.buttonLink--home__image2-downloadapp{
    background-color: white;
    color: black;
    border-color: white;
    border-radius: 60px;
    font-weight: bold;
}

