.wrapper--desktop__home3__image--text{
    font-size: 45px;
    color: black;
    font-weight: bold;
    line-height: 54px;
    font-family: "helvetica";
    
}

.wrapper--desktop__home3__image--2text{
    font-family: "helvetica";
    font-size: 16px;
    color: #444444;

}