.buttonLink--home__image-4-shopwomen{
    background: white;
    color: black;
    border-radius: 56px;
    border-color: white;
    font-family: helvetica;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 16px;
}

.buttonLink--home__image4--shopmen{
    background: #53565a;
    color: rgb(255, 255, 255);
    border-radius: 56px;
    border-color: #53565a;
    font-family: helvetica;
    font-size: 14px; 
    font-weight: bold;
}
