.wrapper--header__department--woman{
    padding: 15px 0;
    margin: 0 25px;
    font-family: "helvetica";
    font-weight: bold;
    color: black;

}

.wrapper--header__department--men{
    padding: 15px 0;
    margin: 0 25px;
    font-family: "helvetica";
    font-weight: bold;
    color: black;

    

    
}

.wrapper--header__department--accesories{
    padding: 15px 0;
    margin: 0 25px;
    font-family: "helvetica";
    font-weight: bold;
    color: black;
}