.imageElement--home__mainimage6--phone{
    padding-left: 16px;
    height: 450px;
    object-fit: cover;
}

.imageElement--home__mainimage62--phone{
    padding-left: 16px;
    height: 450px;
    object-fit: cover;
    
}