/* .wishlistIconContainer--wishList__icon--heart{
    :global(.vtex-button__label){
        width: fit-content;
        position: relative;
        left: 190px;
        top: 45px;
        z-index: 1;
    }
} */