.skuSelectorSubcontainer--color{
    margin-bottom: 0;
}

.discountInsideContainer{
    z-index: 0;
}

/* .productPriceClass--product__price--container{
    display: flex;
    flex-direction: row-reverse;
} */

.sellingPrice--product__price--container{
    font-size: 1.1rem;
    font-weight: bold;
}