.filterMessage{
    font-size: 1.2rem;
    font-family: "Helvetica";
    font-weight: bold;
}

.filterTitle{
    font-size: 1.2rem;
    font-family: "Helvetica";
    font-weight: bold;
}

.galleryItem--normal{
    height: 45rem;
}

@media screen and (max-width: 620px){
    .galleryItem--normal{
        height: 35rem;
    }
}