.flexRow--phone__product--info{
    padding: 1rem;
}

.flexCol--phone__product--rating{
    gap: 0.5rem;
}



















.flexCol--phone__product--data{
    padding-top: 5rem;
}

.flexColChild--phone__product--data{
    display: flex;
    justify-content: center;
    margin-bottom: 0.7rem;
}

.flexRowContent--phone__product--rating{
    padding: 2.5rem 0;
}

.flexRowContent--phone__product--rating .wishlistIconContainer--wishList__icon--heart{
    display: flex;
    justify-content: center;
}

.flexRowContent--phone__product--rating{
    :global(.vtex-reviews-and-ratings){

        color: black;
    }
}

.flexRowContent--phone__product--rating .stretchChildrenWidth{
    width: fit-content !important;
}

.flexRowContent--phone__product--button{
    :global(.vtex-button){
        background: #007DB5;
        border-color: #007DB5;
        border-radius: 2.3rem;
    }
}

.flexRowContent--phone__product--button {

    :global(.buttonDataContainer){
        font-size: 0.8rem;
        font-weight: 900;
    }
}

.flexRowContent--phone__product--button .stretchChildrenWidth{
    padding-top: 0.5rem;
    
}

.flexRow--phone__product--button{
    margin-bottom: 2rem;
}

.flexCol--phone__product--description{
    border-top: 1px solid #e7e7e7;
    padding: 2rem 1rem;
}


.flexCol--phone__product--description{
    gap: 1.5rem;
}

.flexCol--phone__product--deliveryInfo{
    background-color: #F5F5F5;
    padding: 1.5rem;
    border-radius: 0.3rem;
    margin-bottom: 1.5rem;
}

.flexColChild--phone__product--deliveryInfo{
    margin-bottom: 1.5rem;
}


.flexRowContent--product--deliveryInfo__container .stretchChildrenWidth{
    width: fit-content;
}

.flexCol--product--deliveryInfo__container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flexColChild--product--deliveryInfo__container{
    width: fit-content
}

.flexCol--phone__product--description{
    padding: 0 0 0;
    border-bottom: 1px solid #e7e7e7;
}

.flexCol--phone__product--returns{
    border-bottom: 1px solid #e7e7e7;

}

.flexRow--phone__share--products{
    margin: 2.5rem 0 0;
}



