.productNameContainer{
    font-size: 1rem;
    font-family: "helvetica";
    text-transform: uppercase;
    font-weight: bolder;
}

.productBrandName{
    color: grey;
}

.sellingPriceValue{
    font-size: 1rem;
    font-weight: bold;
    
}

.skuSelectorContainer{
    padding-top: 1.5rem;
}

.skuSelectorSubcontainer--color{
    display: flex;
    margin-bottom: 1.9rem;
}

.skuSelectorSubcontainer--color .skuSelectorNameContainer{
    display: flex;
    flex-direction: column-reverse;
    gap: 0.7rem;
}

.skuSelectorSubcontainer--color .skuSelectorTextContainer{
    text-align: start;
}

.skuSelectorSubcontainer--color .skuSelectorOptionsList{
    display: flex;
    justify-content: start;

}

.skuSelectorSubcontainer--talla{
    display: flex;
    width: 100%;
}



.frameAround{
    border-radius: 0.2rem;
    border: 1px solid black;
}

.skuSelectorOptionsList{
    gap: 0.4rem;
}

.skuSelectorInternalBox{
    border: none;
    
}

.skuSelectorSubcontainer--talla .skuSelectorName{
    font-size: 1.2rem;
    font-weight: 900;
    color: black;
}

.skuSelectorSubcontainer--talla .skuSelectorItem{
    height: 1.6rem;
}

.skuSelectorSubcontainer--talla .skuSelectorItemTextValue{
    padding: 1.5rem;
}

.skuSelectorSubcontainer--color .skuSelectorItemImage{
    height: 3rem;
}

.productDescriptionContainer{
    margin: 1.5rem;
}

.productDescriptionTitle{
    color: white;
    width: 0;
    height: 0;
}

.productImagesGallerySwiperContainer{
    overflow: scroll;
}

.shareLabel{
    color: #EBEBEB;
}

.shareButtons{
    display: flex;
    justify-content: space-around;
}

.shareContainer{
    margin-bottom: 1rem;
}