.productNameContainer{
    font-size: 1rem;
    font-family: "helvetica";
    text-transform: uppercase;
    font-weight: bolder;
}

.sellingPriceValue{
    font-size: small;
    font-weight: bold;
    font-family: "helvetica";
}

.skuSelectorSubcontainer--color{
    display: flex;
    margin-bottom: 1.9rem;
}

.skuSelectorSubcontainer--color .skuSelectorNameContainer{
    display: flex;
    flex-direction: column-reverse;
    gap: 0.7rem;
}

.skuSelectorSubcontainer--color .skuSelectorTextContainer{
    text-align: center;
}

.skuSelectorSubcontainer--color .skuSelectorOptionsList{
    display: flex;
    justify-content: center;

}

.skuSelectorSubcontainer--talla{
    display: flex;
    width: 100%;
}

.skuSelectorSubcontainer--talla .skuSelectorOptionsList{

    display: flex;
    justify-content: center;
    padding: 1rem 1rem;
    border: 1px solid #e7e7e7e7;
    border-radius: 0.2rem;
}

.skuSelectorSubcontainer--talla .skuSelectorTextContainer{
    padding-left: 1rem;
}

.frameAround{
    border-color: black;
    border-radius: 0.2rem;
}

.skuSelectorInternalBox{
    border: none;
    
}

.skuSelectorSubcontainer--talla .skuSelectorName{
    font-size: 0.7rem;
    font-family: "helvetica";
}

.skuSelectorSubcontainer--color .skuSelectorItemImage{
    height: 3rem;
}
